<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dice Chronicles Team Attacks</title>
    <%-include("./partials/head.ejs")%>
</head>
<body>
    <%-include("./partials/navbar.ejs")%>

    <h1 style="text-align: center; margin-top: 10px; margin-bottom: 0; padding-top: 15px; padding-bottom: 20px;">
       Team attacks - where the damage happens
    </h1>
    
    <div>
        <p>
            In addition to the "ordinary" damage you deal with your dice, you can deal heavy blows to your opponent by utilizing team attacks. These are powerful attacks unleashed when several of your team members attack at once. And the best part? They can't be countered if you fail your combo! 
            <br>
            In order to pull off a successful team attack, you need to apply different <a href="/dice_battle_status_conditions">status conditions</a> to your opponent. If they already have a status condition and you manage to hit them with another one of a different element (color), you will automatically use a team attack at the end of your turn in addition to the dice damage. Your opponent will now suffer from a stronger status condition based on the two previous ones (hence the dual-colored status condition icons). If you manage to apply a third status condition with a different element (color) than the two already applied, you will deal an insane amount of damage. The only downside is that now, if your opponent is still alive, they are free from any status conditions they might have had before. 
            <br>
            <br>
            Here is a list of which pairings of status conditions lead to different team attacks:
        </p>
    </div> 

    <div class="table-responsive">
        <table class="table" id="green1">
            <thead>
                <tr>
                    <th>Pairing</th>
                    <th>Team attack</th>
                    <th>Damage</th>
                    <th>New status condition</th>
                </tr>
            </thead>
            <tbody>
                <% attacks.forEach(function(attack) { %>
                    <tr id="<%= attack.pairing[0].toLowerCase() %>Div">
                        <td>
                            <%= attack.pairing[0] %> + <a href="#<%= attack.pairing[1].toLowerCase() %>Div"><%= attack.pairing[1] %></a>
                            <br>
                            <img src="/images/conditions/sc<%= attack.pairing[0].toLowerCase() %>.png" class="statusIcon" alt="<%= attack.pairing[0].toLowerCase() %> icon">  
                            <img src="/images/conditions/sc<%= attack.pairing[1].toLowerCase() %>.png" class="statusIcon" alt="<%= attack.pairing[1].toLowerCase() %> icon">
                        </td>
                        <td><%= attack.attack %></td>
                        <td><%= attack.damage %></td>
                        <td><a href="#<%= attack.newStatus.toLowerCase()%>Div"><%= attack.newStatus %></a>
                            <br>
                            <img src="/images/conditions/sc<%= attack.newStatus.toLowerCase()%>.png" class="statusIcon" alt="<%= attack.newStatus.toLowerCase() %> icon">
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>









