<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dice Chronicles Status Conditions</title>
    <%-include("./partials/head.ejs")%>
</head>
<body>
    <%-include("./partials/navbar.ejs")%>

    <h1 style="text-align: center; margin-top: 10px; margin-bottom: 0; padding-top: 15px; padding-bottom: 20px;">
        Status conditions in battles
    </h1>
   <div>
        <p>
        In addition to dealing damage, some of your elemental attacks will give your opponent a status condition. 
        While active, the status conditions will affect the battle in different ways as you will see below.  
        Will you prioritize status conditions that deal extra damage to your opponent? Or will you focus on messing up their dice? The choice is yours. You can also combine different status conditions to unleash a <a href="/dice_battle_team_attacks">team attacks</a> on your opponent
        </p>
    </div> 
    <div>
        <div class="container" id="green0">
            <table class="table">
                <thead>
                    <tr>
                        <th>Status Condition</th>
                        <th>Effect</th>
                    </tr>
                </thead>
                <tbody>
                    <% conditions.status_conditions.forEach(function(condition) { %>
                        <tr>
                            <td id="<%= condition.name.toLowerCase().replace(/ /g, '') %>">
                                <%= condition.name %>
                                <br>
                                <img src="<%= condition.icon %>" class="statusIcon" alt="<%= condition.name.toLowerCase() %> icon">
                            </td>
                            <td><%= condition.effect %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <p>
           
        </p>
    </div>
    
    


    
</body>
</html>